<%= form_for @photobooth, url: photobooths_path, html: { multipart: true } do |f| %>
  <% if @photobooth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photobooth.errors.count, "error") %> prohibited this photobooth from being saved:</h2>

      <ul>
      <% @photobooth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>