<div class="container text-center mt-5 mb-5">
  <h1 style="color: #fefefe;">Photobooths</h1>  
</div>

<div class="container-fluid">
  <% @photobooths.each do |photobooth| %>
    <div class="row">
      <%= image_tag photobooth.image.url(:large), class: 'rounded mx-auto d-block' %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= link_to 'Show', photobooth, class: 'btn btn-primary' %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Edit', edit_photobooth_path(photobooth), class: 'btn btn-primary' %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Destroy', photobooth, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
    
  
<%= link_to 'New Photobooth', new_photobooth_path %> <br>
<%= link_to 'Profile Page', users_profile_path %>
