<style>
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6wgqYEPrF6X16Y2QZSR4tGzd7IJcX_3QjU3InRGqSJZuFKDlu");

}

  h1{
    text-align: center;
  }

  .button {
    background-color: #0066cc;
    border: none;
    border-radius: 18%;
    border-bottom-style: outset;
    color: white;
    padding: 15px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}
.font-size-24{
  font-size: 24px;
  text-align: center;
}

.links {
  color: #b3e0ff;
  padding: 9px 15px;
  text-align: center;
  text-decoration:underline;
  display: inline-block;
  font-size: 12px;
  margin: 8px 8px;
  cursor: pointer;
}
.image{
  display: block;
    margin: 20px 65px;
    width: 40%;
}
</style>


<div class="image">
  <%= image_tag @photobooth.image.url(:medium) %> <br>
</div>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h5 class="font-size-24">Select A Genre</h5></div>

      <!-- Do not change this CODE, I repeat, DO NOT CHANGE THIS CODE -->
      <% if @is_genres %>
      <audio controls>
        <source src="<%= @genre[:url] %>" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
      	<% if @genre_error.present? %>
      	<%=  @genre_error %>
      	<% end %>
      <% else %>
      	<% @genres.each do |g| %>
      		<%= link_to g, photobooth_path(@photobooth, genres: g), class: "button" %>
      	<% end %>
      <% end %> <br>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_photobooth_path(@photobooth), class: "links" %> |
<%= link_to 'Back', photobooth_path(@photobooth), class: "links" %> |
<%= link_to 'Destroy', photobooth_path(@photobooth), class: "links" %> |
<%= link_to 'User Profile', authenticated_root_path, class: "links" %> <br>
<%= button_to 'Social', social_index_path, method: :get, class: "button" %> <br>


<%#= link_to 'Home Page', users_profile_path %>
