<style>
	body {
		color: #fefefe;
	}
</style>

<!-- <p id="notice"><%# notice %></p -->

<div class="container-fluid mt-5">
	<div class="row justify-content-center">
		<%= image_tag @photobooth.image.url %>
	</div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<h1>Select the Music Genre</h1>	
	</div>
</div>


<div class="container-fluid mt-5 mb-5">
	<div class="row text-center">
		<div class="col-md-4">1</div>
		<div class="col-md-4">2</div>
		<div class="col-md-4">3</div>
	</div>
	<div class="row text-center">
		<div class="col-md-4">4</div>
		<div class="col-md-4">5</div>
		<div class="col-md-4">6</div>
	</div>
</div>

<!-- DO NOT CHANGE THE CODE BELOW, I REPEAT, DO NOT CHANGE THE CODE BELOW THIS LINE-->
<% if @is_genres %>
<audio controls>
  <source src="<%= @genre[:url] %>" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
	<% if @genre_error.present? %>
	<%=  @genre_error %>
	<% end %>
<% else %>
	<% @genres.each do |g| %>
		<%= link_to g, photobooth_path(@photobooth, genres: g) %>
	<% end %>
<% end %> <br>
<!-- DO NOT CHANGE THE CODE ABOVE, I REPEAT, DO NOT CHANGE THE CODE ABOVE THIS LINE-->

<%= link_to 'Edit', edit_photobooth_path(@photobooth) %> |
<%= link_to 'Back', photobooth_path(@photobooth) %> |
<%= link_to 'Destroy', photobooth_path(@photobooth) %> |
<%= link_to 'User Profile', authenticated_root_path %> |
<%= button_to 'Post', timeline_index_path, method: :get%> |
<%= button_to 'Social', social_index_path, method: :get%> |



<%#= link_to 'Home Page', users_profile_path %>
