<p id="notice"><%= notice %></p>

<h1>This is the Photobooth Show Page</h1>

<%= image_tag @photobooth.image.url(:medium) %> <br>

<%= link_to 'Edit', edit_photobooth_path(@photobooth) %> |
<%= link_to 'Back', photobooths_path %> <br>

<%= link_to 'Home Page', users_profile_path %>
