<p id="notice"><%= notice %></p>

<h1>This is supposed to be the Music Genre Page</h1>

<%= image_tag @photobooth.image.url(:medium) %> <br>


<% if @is_genres %>
	<%=  @genre %>
	<% if @genre_error.present? %>
	<%=  @genre_error %>
	<% end %>
<% else %>
	<% @genres.each do |g| %>
		<%= link_to g, photobooth_path(@photobooth, genres: g) %>
	<% end %>
<% end %>

<br>
<%= link_to 'Edit', edit_photobooth_path(@photobooth) %> |
<%= link_to 'Back', photobooth_path(@photobooth) %> |
<%= link_to 'Destroy', photobooth_path(@photobooth) %> |
<%= link_to 'User Profile', authenticated_root_path %> <br>
<%= button_to 'Social', social_index_path, method: :get%> <br>


<%#= link_to 'Home Page', users_profile_path %>
