<!-- <h1>USER PROFILE PAGE</h1> <br> -->

<nav class="navbar navbar-expand-md" style="height: 120px; background-color: #333333;">
	 <a class="navbar-brand" style="color: #fefefe; font-weight: bold; font-family: 'Indie Flower', cursive; font-size: 2.5rem;" href="#">SNAP BOOGIE</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 	aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-cog fa-3x" style="color: #fefefe;" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="height: 103px;">
	<div class="row justify-content-center" style="margin-top: 1rem;">
	    <div class="card">
	  		<%= image_tag('profile-picture.jpg', class: 'img-fluid', style: 'height:320px; padding:12px;') %>
	  		<div class="card-body text-center">
	  			<h4 style="font-size: 2.5rem; font-family: 'Indie Flower'; font-weight: bold;">Jeremy&nbsp;Scott</h4>
	  		</div>
		</div>
	</div>
</div>

<div class="container-fluid text-center" style="margin-top: 22rem; height: 60px;">
  <div class="row justify-content-around">
  		<div class="col-md-4">
			<%= link_to timeline_index_path do %>
				<i class="fa fa-list-alt fa-4x" aria-hidden="true" style="color: #fefefe"></i>
				<h4 style="margin-top: .5em; color: #b4f5ff;">Timeline</h4>
			<% end %>
		</div>
		<div class="col-md-4">
			<%= link_to new_photobooth_path do %>
				<i class="fa fa-trophy fa-4x" aria-hidden="true" style="color: #fefefe"></i>
				<h4 style="margin-top: .5em; color: #ffb4b4;">Challenge Board</h4>
			<% end %>
		</div>
		<div class="col-md-4">
				<%= link_to destroy_user_session_path do %>
				<i class="fa fa-sign-out fa-4x" aria-hidden="true" style="color: #fefefe"></i>
				<h4 style="margin-top: .5em; color: #ffddb4;">Log Out</h4>
				<% end %>
		</div>
  </div>
</div>

<div class="container-fluid" style="margin: 6rem auto 3rem auto;">
	<div class="row">
		<% @photobooths.each do |photobooth| %>
			<div class="col-6 col-sm-6 col-md-6" style="padding: 12px;">
				<%= image_tag photobooth.image.url, class: 'img-fluid' %>
			</div>
		<% end %>	
	</div>
</div>
<nav class="navbar navbar-bottom text-center justify-content-center">
    <a class="navbar-brand" style="color: #fefefe; font-family: 'Indie Flower', cursive; font-size: 2.5rem;" href="#"><i class="fa fa-star-o" style="color: #ffddb4" aria-hidden="true"></i> Snap Boogie like a rockstar <i class="fa fa-star-o" style="color: #ffb4b4" aria-hidden="true"></i></a>
</nav>